In [1]:
import pandas as pd
import json
print("Imported libraries")

Imported libraries

In [8]:
!wget -q -O 'PostalCode.txt' https://raw.githubusercontent.com/albperan/Test/master/PostalCodes.txt
print('Data downloaded!')
!wget -q -O 'Coorditantes.csv' http://cocl.us/Geospatial_data

Data downloaded!

In [3]:
column_names = ['PostalCode', 'Borough', 'Neighborhood']

In [4]:
df = pd.read_csv('PostalCode.txt',sep="\t", names = column_names)
df

,PostalCode,Borough,Neighborhood
0,M1A,Not assigned,NaN
1,M1B,Scarborough,"Malvern, Rouge"
2,M1C,Scarborough,"Rouge Hill, Port Union, Highland Creek"
3,M1E,Scarborough,"Guildwood, Morningside, West Hill"
4,M1G,Scarborough,Woburn
...,...,...,...
175,M9V,Etobicoke,"South Steeles, Silverstone, Humbergate, Jamest..."
176,M9W,Etobicoke,Northwest
177,M9X,Not assigned,NaN
178,M9Y,Not assigned,NaN
179,M9Z,Not assigned,NaN

In [5]:
df1 = df.dropna()
df1

,PostalCode,Borough,Neighborhood
1,M1B,Scarborough,"Malvern, Rouge"
2,M1C,Scarborough,"Rouge Hill, Port Union, Highland Creek"
3,M1E,Scarborough,"Guildwood, Morningside, West Hill"
4,M1G,Scarborough,Woburn
5,M1H,Scarborough,Cedarbrae
...,...,...,...
170,M9N,York,Weston
171,M9P,Etobicoke,Westmount
172,M9R,Etobicoke,"Kingsview Village, St. Phillips, Martin Grove ..."
175,M9V,Etobicoke,"South Steeles, Silverstone, Humbergate, Jamest..."
176,M9W,Etobicoke,Northwest

In [6]:
df1.shape

(103, 3)

In [24]:
dfCoordinates = pd.read_csv('Coorditantes.csv')
dfCoordinates
Lat = dfCoordinates[['Latitude']]
Lon = dfCoordinates[['Longitude']]

In [26]:
df1['Latitude'] = Lat 
df1['Longitude'] = Lon
df1.head(10)

/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,PostalCode,Borough,Neighborhood,Latitude,Longitude
1,M1B,Scarborough,"Malvern, Rouge",43.784535,-79.160497
2,M1C,Scarborough,"Rouge Hill, Port Union, Highland Creek",43.763573,-79.188711
3,M1E,Scarborough,"Guildwood, Morningside, West Hill",43.770992,-79.216917
4,M1G,Scarborough,Woburn,43.773136,-79.239476
5,M1H,Scarborough,Cedarbrae,43.744734,-79.239476
6,M1J,Scarborough,Scarborough Village,43.727929,-79.262029
7,M1K,Scarborough,"Kennedy Park, Ionview, East Birchmount Park",43.711112,-79.284577
8,M1L,Scarborough,"Golden Mile, Clairlea, Oakridge",43.716316,-79.239476
9,M1M,Scarborough,"Cliffside, Cliffcrest, Scarborough Village West",43.692657,-79.264848
10,M1N,Scarborough,"Birch Cliff, Cliffside West",43.757410,-79.273304